<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5>
      <strong><a href="https://github.com/allisonmachado/larasketch"><i class="fa fa-code"></i> Larasketch - </a></strong> Esboço de aplicação web para inicialização rápida de novos projetos. Empacotado com funcionalidades comums em sistemas web, é um belo demostrativo das capacidades do Laravel 5.1.
    </h5>
    </div>
    <div class="panel-body">
		<h5>
			<strong><a href="{{ site.baseurl }}assets/pdfs/tcc.pdf"><i class="fa fa-file-pdf-o"></i> Autenticação Delegada - </a></strong> Este trabalho académico demonstra o uso de código de barras bidimensionais, aplicados em um processo de autenticação, como uma maneira de evitar o roubo malicioso de credenciais de usuários.
		</h5>
    </div>
    <div class="panel-body">
		<h5>
			<strong><a href="https://github.com/allisonmachado/network-calc"><i class="fa fa-code"></i> Calculadora de Rede - </a></strong> Software simples, construído em C para encontrar rapidamente valores fundamentais presentes em um ambiente de rede, tais como o ip em formato binário, máscara, endereço de broadcast e assim por diante.
		</h5>
    </div>
    <div class="panel-body">
    <h5>
      <strong><a href="{{ site.baseurl }}assets/pdfs/python.pdf"><i class="fa fa-file-pdf-o"></i> Python - </a></strong> Apresentação da <a href="https://www.python.org/"> linguagem Python </a> através de uma perspectiva analítica, científica e bem resumida. Explora a história da linguagem, expõe tópicos sobre análise léxica, explica a estrutura da linguagem e mostra exemplos práticos de uso.
    </h5>
    </div>
    <div class="panel-body">
    <h5>
      <strong><a href="{{ site.baseurl }}assets/pdfs/minix.pdf"><i class="fa fa-file-pdf-o"></i> Sistemas Operacionais - </a></strong> Aprenda alguns conceitos básicos de sistemas operacionais com o <a href="http://www.minix3.org/"> Minix </a>. Um sistema operacional de código livre e aberto, projetado para ser confiável, com um enfoque educativo e que permite o aprendizado rico de importantes conceitos de sistemas operacionais.
    </h5>
    </div>
    <div class="panel-body">
    <h5>
      <strong><a href="https://gist.github.com/allisonmachado"><i class="fa fa-code"></i> Gists - </a></strong> Ótima maneira de compartilhar trechos de código. Você pode compartilhar arquivos individuais, partes de arquivos ou aplicações completas. Confira em <a href="https://gist.github.com"> https://gist.github.com. </a>
    </h5>
    </div>
    <div class="panel-body">
    <h5>
      <strong><a href="http://allisonline.net/interests/app/"><i class="fa fa-cog"></i> Calculadora de Juros - </a></strong> Verifique facilmente o valor de um financiamento de acordo com a <a href="http://fazaconta.com/financiamentos-tabela-sac.htm">Tabela SAC</a>, muito utilizado em financiamentos de imóveis. Verifique o código-fonte em <a href="https://github.com/allisonmachado/interests"> https://github.com/allisonmachado/interests. </a>
    </h5>
    </div>

  </div>
</div>
</section>