<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<strong><a href="{{ site.baseurl }}assets/pdfs/tcc.pdf"><i class="fa fa-file-pdf-o"></i> Barcode Delegated Authentication - </a></strong> This academic work demonstrates the use of two-dimensional barcode to intermediate the process of authentication, as a way to prevent the malicious theft of users credentials. Check out the <a href="{{ site.baseurl }}assets/pdfs/tcc.pdf">specification</a>.
		</h5>
    </div>
    <div class="panel-body">
		<h5>
			<strong><a href="https://github.com/allisonmachado/network-calc"><i class="fa fa-code"></i> Network calculator - </a></strong> Easy way to quickly find key values for a network environment such as the binary net ip, netmask, broadcast address and so on. Check out the <a href="https://github.com/allisonmachado/network-calc">implementation</a>.
		</h5>
    </div>
    <div class="panel-body">
    <h5>
      <strong><a href="{{ site.baseurl }}assets/pdfs/python.pdf"><i class="fa fa-file-pdf-o"></i> Python presentation - </a></strong> Present the <a href="https://www.python.org/">Python</a> language through an analytical, well summarized and scientific perspective. Also exploring the language history, topics about lexical analysis, a language structure study and examples of practical language usage.
    </h5>
    </div>
    <div class="panel-body">
    <h5>
      <strong><a href="{{ site.baseurl }}assets/pdfs/minix.pdf"><i class="fa fa-file-pdf-o"></i> Basic OS concepts - </a></strong> Learn some operating system concepts with <a href="http://www.minix3.org/">Minix</a>. It is a free and open source operating system, designed to be reliable and having an educational focus that allows a rich learning of important operating systems concepts.
    </h5>
    </div>
    <div class="panel-body">
    <h5>
      <strong><a href="https://gist.github.com/allisonmachado"><i class="fa fa-code"></i> My gists - </a></strong> Great way to share code snippets. You may share single files, parts of files, or full applications. You can access gists at <a href="https://gist.github.com">https://gist.github.com.</a>
    </h5>
    </div>
  </div>
</div>
</section>